@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Inter', sans-serif;
}

:root{
    --cor-titulo:#101828;
    --cor-paragrafos:#667085;
    --cor-detalhes:#8E2424;
    --cor-fundo:#FFFFFF;
    --cor-vagas:#F9F4F4;
    --cor-borda: #EAECF0;
    --cor-rodape-background:#F9FAFB;
    --regular:400;
    --medium:500;
    --semi-bold:600;
}

body{
    width:100%;
    height: 100vh;
}

.cabecalho{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:16px 50px;
}

.cabecalho-menu{
    display: flex;
    align-items: center;
    gap:100px;
}

.menu-navegacao{
    display: flex;
    gap: 30px;
    cursor:pointer;
}

.navegacao-item{
    text-decoration: none;
    font-size: 1rem;
    font-weight: var(--regular);
    color: var(--cor-paragrafos);
}

.botoes{
    display:flex;
    gap:30px;
}

.botoes-entrar{
    border:none;
    background-color:var(--cor-fundo);
    color:var(--cor-paragrafos);
    font-size:1rem;
    font-weight:var(--medium);
    cursor:pointer;
}

.botoes-cadastrar{
    padding:12px 16px;
    background-color:var(--cor-detalhes);
    border:none;
    border-radius:8px;
    color:var(--cor-fundo);
    font-size:1rem;
    font-weight:var(--medium);
    cursor:pointer;

}

.navegacao-item:hover, .botoes-entrar:hover,.botoes-cadastrar:hover{
    transform:scale(1.1);
}

.conteudo{
    padding-bottom: 64px;
}

.secao{
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area{
    font-size:0.9rem;
    font-weight: var(--semi-bold);
    color:var(--cor-detalhes);
}

.titulo{
    padding:16px;
    font-size:2rem;
    font-weight: var(--semi-bold);
    color: var(--cor-titulo);
    text-align: center;
}

.subtitulo{
    margin:0 200px;
    padding:16px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: var(--regular);
    color: var(--cor-paragrafos);
}

.segunda-secao{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:32px;
    padding-bottom:48px;
}

.cartao{
    display: grid;
    gap: 10px;
    padding: 0 50px;
}

.cartao-titulo{
    font-size: 3.75rem;
    font-weight: var(--semi-bold);
    color:var(--cor-detalhes);
}

.cartao-subtitulo{
    font-size: 1.125rem;
    font-weight: var(--medium);
    color:var(--cor-titulo);
}

.paragrafo{
    font-size: 1rem;
    font-weight: var(--regular);
    color:var(--cor-paragrafos);
}

.area-vagas{
    background-color: var(--cor-vagas);
    border-radius: 20px;
    padding:0.3rem 0.6rem;
}

.imagem-banner{
    margin-top:64px;
}

.quarta-secao{
    width:768px;
    margin:0 300px;
    padding-bottom: 96px;
}

.conteudo-oportunidades{
    margin-bottom:32px;
    font-size:1.875rem;
    font-weight: var(--medium);
    color: var(--cor-titulo);
}

.funcao{
    margin-bottom:20px;
    display:flex;
    flex-direction: column;
    gap:20px;
    border: 1px solid var(--cor-borda);
    border-radius: 16px;
    padding: 24px;
}

.titulo-secao{
    font-size:1.75rem;
    font-weight: var(--medium);
    color: var(--cor-titulo);
}

.secao-infos{
    display:flex;
    flex-direction: row;
    gap:20px;
}

.secao-infos-texto{
    font-size:1.5rem;
    font-weight: var(--medium);
    color: var(--cor-paragrafos);
}

.parte-software{
    margin-top: 96px;
}

.quinta-secao{
    gap:20px;
    margin:0 100px;
    background: rgba(195, 25, 25, 0.05);
    border-radius: 16px;
    padding:64px;
}

.perfil{
    gap:16px;
    text-align: center;
}

.avatar{
    width:64px;
}

.nome-perfil{
    font-size: 1.5rem;
    font-weight: var(--medium);
    color:var(--cor-titulo);
}

.rodape{
    background-color:var(--cor-rodape-background);
    padding:96px 0;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:32px;
}

.rodape-oportunidades-preenchimento{
    display:flex;
    gap:32px;
    align-items: center;
}

.input-email{
    width:360px;
    border-radius: 8px;
    font-size: 24px;
    padding:8px;
    border: 1px solid var(--cor-paragrafos);
}